@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

body [xml|lang]{
	font-style: italic;
}

section{
	break-after: page;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

abbr.era{
	font-variant: all-small-caps;
}

/* Letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
/* End letters */

/* Dates */
#the-tennessee-land header > p,
#early-years-in-florida-missouri header > p,
#the-chicago-gar-festival header > p,
#grant-and-the-chinese header > p,
#a-call-with-w-d-howells-on-general-grant header > p,
#about-general-grants-memoirs header > p,
#gerhardt-and-the-grant-bust header > p,
#the-reverend-doctor-n-visits-general-grant header > p,
#the-machine-episode header > p,
#chapters-begun-in-vienna header > p,
#private-history-of-a-ms-that-came-to-grief header h3 + p,
#villa-quarto-1 header > p,
#notes-on-innocents-abroad header > p,
#stevenson-aldrich-etc header > p,
#henry-h-rogers h3 + p,
#henry-h-rogers h4 + p,
#interval-of-two-years header h3 + p,
#mrs-morriss-illness-takes-a-serious-turn-2 header h4 + p,
#about-general-sickles header > p,
#about-dueling header > p,
#mark-twain header h3 + p{
	font-style: italic;
	text-align: right;
}
/* End dates */

/* “Private History” */
#private-history-of-a-ms-that-came-to-grief-letter div header > p{
	font-variant: small-caps;
	text-align: center;
	padding-bottom: 1em;
}
/* End “Private History” */

/* “The Character of Man” */
#the-character-of-man-8 blockquote header p,
#the-character-of-man-9 blockquote header p,
#the-character-of-man-10 blockquote header p,
#the-character-of-man-11 blockquote header p,
#the-character-of-man-12 blockquote header p,
#the-character-of-man-13 blockquote header p,
#the-character-of-man-14 blockquote header p,
#the-character-of-man-17 blockquote header p,
#the-character-of-man-19 blockquote:first-of-type header p,
#the-character-of-man-19 blockquote:nth-of-type(2) header p,
#the-character-of-man-19 blockquote:last-of-type header p,
#the-character-of-man-22 blockquote header p,
#the-character-of-man-23 blockquote header p:nth-of-type(2),
#the-character-of-man-27 blockquote header p,
#the-character-of-man-30 blockquote header p,
#the-character-of-man-32 blockquote:first-of-type header p:nth-of-type(2){
	font-variant: small-caps;
	padding-bottom: 1em;
}

#the-character-of-man-15 header p[epub|type~="bridgehead"] + p,
#the-character-of-man-23 header p b,
#the-character-of-man-32 header p b,
#the-character-of-man-36 blockquote:first-of-type header p b,
#the-character-of-man-37 blockquote:first-of-type header p b,
#the-character-of-man-38 header p b,
#the-character-of-man-41 blockquote:first-of-type header p b{
	text-transform: uppercase;
	font-style: normal;
}

#the-character-of-man-19 blockquote:nth-of-type(3) header p{
	font-style: italic;
	text-align: right;
	padding-bottom: 1em;
}

#the-character-of-man-15 header p[epub|type~="bridgehead"],
#the-character-of-man-15 header p:nth-of-type(2),
#the-character-of-man-32 blockquote:nth-of-type(2) header,
#the-character-of-man-32 blockquote:nth-of-type(3) header,
#the-character-of-man-36 blockquote:first-of-type header,
#the-character-of-man-36 blockquote:first-of-type header p:not(:last-of-type),
#the-character-of-man-37 blockquote header p:not(:last-of-type),
#the-character-of-man-38 header p:not(:last-of-type),
#the-character-of-man-41 blockquote:first-of-type header{
	padding-bottom: 1em;
}

#the-character-of-man-36 blockquote:first-of-type header p:nth-of-type(3),
#the-character-of-man-37 blockquote header p:nth-of-type(2),
#the-character-of-man-37 blockquote header p:nth-of-type(3),
#the-character-of-man-38 header p:nth-of-type(3),
#the-character-of-man-38 blockquote header p{
	font-variant: small-caps;
}
/* End “The Character of Man” */
