@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

body [xml|lang]{
	font-style: italic;
}

section{
	break-after: page;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

abbr.era{
	font-variant: all-small-caps;
}

/* Letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
/* End letters */

/* Dates */
.date{
	font-style: italic;
	text-align: right;
}

p.date + p{
	padding-top: 1em;
}

#the-character-of-man-19 .date{
	padding-bottom: 1em;
}
/* End dates */

/* “Headlines” */
blockquote header.headline{
	padding-bottom: 1em;
}

.headline p{
	font-variant: small-caps;
}

.headline p b{
	text-transform: uppercase;
	font-style: normal;
}

.headline p i{
	font-style: italic;
	font-variant: normal;
}

.headline p + p{
	padding-top: 1em;
}

.headline p[epub|type~="bridgehead"],
#mrs-morriss-illness-takes-a-serious-turn .headline p:first-of-type,
#mrs-morriss-illness-takes-a-serious-turn .headline p:nth-of-type(3),
#the-character-of-man-15 .headline p:last-of-type,
#the-character-of-man-23 .headline p:last-of-type{
	font-variant: normal;
	text-transform: none;
}

#the-character-of-man-15 .headline p:last-of-type b{
	text-transform: none;
}
/* End headlines */

/* “Private History” */
#private-history-of-a-ms-that-came-to-grief-letter div header > p{
	font-variant: small-caps;
	text-align: center;
	padding: 1em;
}
/* End “Private History” */
